# Ignoriere Verzeichnise
data/
docs/
memory/
testdata/

# Ignoriere Dateien
*.log
# *.md
*.csv
*.xml

# Ignoriere lokale Konfigurationsdateien
.env
config.json

# Ignoriere temporäre Systemdateien
.DS_Store
Thumbs.db   
